# General
facebookbot:
    debug:          false

connection:
    group_id:       314159265
    email:          email@domain.tld
    password:       secretpassword
    app_id:         123456789
    app_secret:     d5EhCCp3V021UWoN49Qcvv7gFvh...
    access_token:   CAACEcBAD6wzVT0dSnpZCbIEbxL... # optional

# Member Request Module
mod-memberrequest:
    autoload:      true

# New Post Module
mod-newpost:
    autoload:      true